body{
    background-color: whitesmoke;
}
.header{
    background-image: url('/home/wecode/Documents/week3-project/img/2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1.13);
    width: 100%;
    height: 600px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-left: 10px;
}
#A{
    position: relative;
    top: 100px;
}
#B,#D{
    position: relative;
    top: 140px;
    left: 5px;
}
#F{
    position: relative;
    top: 245px; 
}
.mine{
    text-align: center;
    position: relative;
    top: 60px;
}
.yours{
    background-image: url('../img/s_image\ \(1\).jpg');
    background-size: contain;
    transform: scale(1.13);
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
    margin-top: 100px;
    /* position: relative;
    top: 50px; */
    line-height: 1em;
    font-size: 15px;
}
#E{
    position: relative;
    top: 80px;
}
.wedo{
    text-align: center;
}
#showing1, #showing2, #showing3{
    display: none;
}
.portifolio1,.portifolio{
    position: relative;
    top: 80px;
    left: 20px;
    transform: scale(1.4);
}
.portifolio{
    top: 170px;
    transform: scale(1.4);
}
.form{
    background-image: url('../img/3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1.13);
    width: 100%;
    height: 600px;
    text-align: center;
    margin-top: 300px;

}
#Z{
    position: relative;
    top: 50px;
    color: white;
    text-align: center;
}
input{
    position: relative;
    top: 50px;
    background: none;
    width: 30%;
    outline: none;
}
#A1{
    right: 30px;
}
::placeholder{
    color: white;
}
textarea{
    width: 60%;
    height: 200px;
    position: relative;
    top: 60px;
    background: none;
    outline: none;
}
.footer{
    position: relative;
    left: 20%;
    bottom: 170px;
}
#final{
    text-transform: uppercase;
    text-align: center;
    font-style: bold;
    position: relative;
    top: 15px;
    left: 3%;
    font-size: 10px;
}
button{
    position: relative;
    top: 70px;
    left: 250px;
    background-color: cyan;
    padding: 5px;
  border: none;
}
button:hover{
    background-color: blue;

}